/* screen */


body {
    margin: 0;
}

#screen {
    position: relative;
    width: 100vw;
    height: 56.25vw;

    /*  touch-action: none;*/
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;

}


#start {
    position: absolute;
    background-image: url("titelskaerm.svg");
    background-size: cover;
    width: 100%;
    height: 100%;
    overflow: hidden;
}



/* game */

#game_background {
    position: absolute;
    background-image: url("spil_skaerm.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 100%;
}


/* game elements */



/*
#egern_aabne_ojne {
    background-image: url("figurer/egern_aabne_ojne.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 10vw;
    height: 14vw;
    position: absolute;
    left: 1vw;
    top: 4vw;
}

#egern_lukkede_ojne {
    background-image: url("figurer/egern_lukkede_ojne.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 10vw;
    height: 14vw;
    position: absolute;
    left: 1vw;
    top: 4vw;
}
*/




#cigaretpakke {
    background-image: url("figurer/cigaretpakke.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 4vw;
    height: 4vw;
    position: absolute;
    right: 10vw;
    top: -9vw;
}





#daase_graa {
    background-image: url("figurer/daase_graa.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 5vw;
    height: 5vw;
    position: absolute;
    left: 55vw;
    top: -9vw;
}


#daase_orange {
    background-image: url("figurer/daase_orange.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 5vw;
    height: 5vw;
    position: absolute;
    left: 25vw;
    top: -9vw;
}



#kanin {
    background-image: url("figurer/kanin.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 5vw;
    height: 12vw;
    position: absolute;
    left: 47vw;
    top: -12vw;
}


#pindsvin {
    background-image: url("figurer/pindsvin.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 5vw;
    height: 7vw;
    position: absolute;
    left: 14vw;
    top: -9vw;
}


#plastik {
    background-image: url("figurer/plastik.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    width: 7vw;
    height: 9vw;
    left: 5vw;
    top: -9vw;
}


#plastikflaske {
    background-image: url("figurer/plastikflaske.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    width: 5vw;
    height: 8vw;
    left: 61vw;
    top: -9vw;
}


#plastikpose {
    background-image: url("figurer/plastikpose.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    width: 7vw;
    height: 11vw;
    left: 67vw;
    top: -9vw;
}


#solvpapir {
    background-image: url("figurer/solvpapir.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    width: 4vw;
    height: 4vw;
    left: 33vw;
    top: -9vw;
}


#ugle {
    background-image: url("figurer/ugle.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    width: 5vw;
    height: 9vw;
    left: 77vw;
    top: -9vw;
}


/* game ui */

#points {
    background-repeat: no-repeat;
    font-size: 2rem;
    position: absolute;
    right: 1vw;
    top: 24.5vw;
}


#points .antal_point {
    font-family: 'Permanent Marker', cursive;
}

#life .antal_liv {
    font-family: 'Permanent Marker', cursive;
}

#life {
    background-repeat: no-repeat;
    font-size: 2rem;
    position: absolute;
    right: 2vw;
    bottom: 15.5vw;
}

#time {
    background-image: url("ur_hvidt.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    width: 6vw;
    height: 6vw;
    right: 0.5vw;
    top: 7vw;
}



#viser {
    background-image: url("ur_viser.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    width: 1vw;
    height: 3vw;
    right: 3.1vw;
    top: 8vw;
}




#start_knap {
    background-image: url("start_spillet.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    width: 15vw;
    height: 15vw;
    left: 43vw;
    top: 13vw;
}

#settings_icon {
    background-image: url("indstillinger_icon.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    width: 4vw;
    height: 4vw;
    right: 1vw;
    top: 0.5vw;
}

#settings {
    background-image: url("indstillinger_skaerm.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    display: none;
    width: 44vw;
    height: 25vw;
    left: 22vw;
    top: 52vw;
}

#settings_box1 {
    background-image: url("indstillinger_box1.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    display: none;
    width: 4vw;
    height: 4vw;
    left: 28vw;
    top: 62vw;
}

#settings_box2 {
    background-image: url("indstillinger_box2.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    display: none;
    width: 4vw;
    height: 4vw;
    left: 28vw;
    top: 67vw;
}

#settings_flueben1 {
    background-image: url("flueben1.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    display: none;
    width: 4vw;
    height: 4vw;
    left: 28vw;
    top: 62vw;
}

#settings_flueben2 {
    background-image: url("flueben2.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    display: none;
    width: 4vw;
    height: 4vw;
    left: 28vw;
    top: 67vw;
}

#settings_tilbage {
    background-image: url("indstillinger_tilbage.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    display: none;
    width: 6vw;
    height: 4vw;
    left: 58vw;
    top: 73vw;
}


#gameover {
    background-image: url("sluskaerm_tabt.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    display: none;
    width: 80vw;
    height: 45vw;
}

#gameover_slut_spillet {
    background-image: url("slut_spillet.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    display: none;
    width: 10vw;
    height: 11vw;
    left: 40vw;
    top: 108vw;
}

#gameover_prov_igen {
    background-image: url("prov_igen.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    display: none;
    width: 10vw;
    height: 11vw;
    left: 28vw;
    top: 108vw;
}


#levelcomplete {
    background-image: url("slutskaerm_vundet.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    display: none;
    width: 80vw;
    height: 45vw;
}

#levelcomplete_slut_spillet {
    background-image: url("slut_spillet.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    display: none;
    width: 10vw;
    height: 11vw;
    left: 40vw;
    top: 155vw;
}

#levelcomplete_prov_igen {
    background-image: url("prov_igen.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    display: none;
    width: 10vw;
    height: 11vw;
    left: 28vw;
    top: 155vw;
}


/*Effekter*/

.hide {
    visibility: hidden;
}

.show {
    visibility: visible;
}

.blur {
    filter: blur(5px) brightness(80%);
}



/*Falling*/

@keyframes falling {

    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(56.25vw);
    }
}


.falling {
    animation-name: falling;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

    /* sikrer at vi altid er uden for skærmen, hvis animationen er delayet */
    top: -10vw;

}



/*Pulse*/

@keyframes pulse {
    0% {
        transform: scale(0.97);
    }

    100% {
        transform: scale(1.1);
    }
}

.pulse {
    animation-name: pulse;
    animation-duration: 1.7s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in;
}




/*Rotate*/

@keyframes rotate {

    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.rotate {
    animation-name: rotate;
    animation-duration: 45s;
    animation-iteration-count: 1;
    transform-origin: 59% 67%;
}






/*Dissappear*/

@keyframes dissappear {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(0);
    }
}


.dissappear {
    animation-name: dissappear;
    animation-duration: .7s;
    animation-iteration-count: 1;
    animation-timing-function: cubic-bezier(.59, -0.56, .77, 1.34);
    animation-fill-mode: forwards;
}


/*Fadeout*/


.fade_out {
    animation-name: fadeout;
    animation-duration: .5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeout {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}




/*Paused*/

.paused {
    animation-play-state: paused;
}





.skrald_pos1 {
    left: 20vw;
    top: 28vw;
}

.skrald_pos2 {
    left: 58vw;
    top: 2vw;
}

.skrald_pos3 {
    left: 4vw;
    top: 8vw;
}

.skrald_pos4 {
    left: 75vw;
    top: 38vw;
}

.skrald_pos5 {
    left: 40vw;
    top: 35vw;
}

.skrald_pos6 {
    left: 60vw;
    top: 28vw;
}

.skrald_pos7 {
    left: 40vw;
    top: 18vw;
}

.dyr_pos1 {
    left: 10vw;
    top: 42vw;
}

.dyr_pos2 {
    left: 18vw;
    top: 5vw;
}

.dyr_pos3 {
    left: 80vw;
    top: 8vw;
}
