/* screen */


body {
    margin: 0;
}

#screen {
    position: relative;
    width: 100vw;
    height: 56.25vw;

    /*  touch-action: none;*/
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;

}


#start {
    position: absolute;
    background-image: url("titelskaerm.svg");
    background-size: cover;
    width: 100%;
    height: 100%;
    overflow: hidden;
}



/* game */

#game_background {
    position: absolute;
    background-image: url("spil_skaerm.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 100%;
}


/* game elements */



#egern_sprite {
    background-image: url("egern_sprite.svg");
    left: 1vw;
    top: 1vw;
    background-size: 500% 100%;
    width: 20vw;
    height: 20vw;
    display: inline-block;
}


.blink {
    animation-name: blink;
    animation-direction: reverse;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
    animation-timing-function: steps(4)
}

/*
.blink_reverse {
    animation-name: on_off_kf;
    animation-duration: 0.1s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
    animation-timing-function: steps(4)
}
*/

@keyframes blink {

    0% {
        background-position: 0 0;
    }

    100% {
        background-position: -400% 0;
    }
}



#cigaretpakke {
    background-image: url("figurer/cigaretpakke.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 6vw;
    height: 6vw;
    position: absolute;
    animation-delay: .9s;
}





#daase_graa {
    background-image: url("daase_graa.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 7vw;
    height: 7vw;
    position: absolute;
    animation-delay: .6s;
}


#daase_orange {
    background-image: url("figurer/daase_orange.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 7vw;
    height: 7vw;
    position: absolute;
    animation-delay: .2s;
}



#kanin {
    background-image: url("figurer/kanin.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 6vw;
    height: 15vw;
    position: absolute;
    animation-delay: .5s;
}


#pindsvin {
    background-image: url("figurer/pindsvin.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 7vw;
    height: 9vw;
    position: absolute;
    animation-delay: .10s;
}


#plastik {
    background-image: url("figurer/plastik.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    width: 8vw;
    height: 9vw;
    animation-delay: .8s;
}


#plastikflaske {
    background-image: url("figurer/plastikflaske.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    width: 8vw;
    height: 13vw;
    animation-delay: .6s;
}


#plastikpose {
    background-image: url("figurer/plastikpose.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    width: 8vw;
    height: 11vw;
    animation-delay: .9s;
}


#solvpapir {
    background-image: url("figurer/solvpapir.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    width: 6vw;
    height: 6vw;
    animation-delay: .5s;
}


#ugle {
    background-image: url("figurer/ugle.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    width: 6vw;
    height: 10vw;
    animation-delay: .2s;
}



/* game ui */

/*
#points .antal_point {
    font-family: 'Permanent Marker', cursive;
}

#life .antal_liv {
    font-family: 'Permanent Marker', cursive;
}
*/

#life {
    background-repeat: no-repeat;
    font-size: 1.5rem;
    position: absolute;
    right: 2vw;
    bottom: 17vw;
}


#points {
    background-repeat: no-repeat;
    font-size: 1.5rem;
    position: absolute;
    right: 1vw;
    top: 24vw;
}


#tid {
    font-size: 1.5rem;
    position: absolute;
    right: 2vw;
    top: 11vw;
}


#start_knap {
    background-image: url("start_knap.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    width: 12vw;
    height: 15vw;
    left: 45vw;
    top: 18vw;
}

#settings_icon {
    background-image: url("setting_ikon.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    width: 5vw;
    height: 5vw;
    right: 1vw;
    top: 0.5vw;
}

#settings {
    /*    margin: 0 auto;*/
    text-align: center;
    position: absolute;
    width: 60vw;
    height: 45vw;
    background-color: rgba(0, 0, 0, 0.82);

    top: 5vw;
    left: 20vw;
    border-radius: 2vw;
    color: white;
}



#settings_tilbage {
    background-image: url("indstillinger_tilbage.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    width: 6vw;
    height: 4vw;
    left: 72vw;
    top: 45vw;
    z-index: 1
}





/*toggle*/


#effekter_sprite,
#musik_sprite {
    background-size: 500% 100%;
    width: 10vw;
    height: 10vw;
    background-image: url(Toggle_sprite.svg);
    display: inline-block;
}


#settings h1 {
    display: inline-block;
    font-family: 'Permanent Marker', cursive;
    font-weight: 100;
}

.on {
    background-position: 0;
}

.off {
    background-position: -400% 0;
}


.off_on {
    animation-name: on_off_kf;
    animation-direction: reverse;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
    animation-timing-function: steps(4)
}

.on_off {
    animation-name: on_off_kf;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
    animation-timing-function: steps(4)
}

@keyframes on_off_kf {

    0% {
        background-position: 0 0;
    }

    100% {
        background-position: -400% 0;
    }
}



#gameover {
    background-image: url("sluskaerm_tabt.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    width: 100%;
    height: 100%;
}


#gameover_prov_igen {
    background-image: url("prov_igen.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    width: 30vw;
    height: 9vw;
    left: 30vw;
    top: 25vw;
}


#levelcomplete {
    background-image: url("slutskaerm_vundet.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    width: 100%;
    height: 100%;
}


#levelcomplete_prov_igen {
    background-image: url("prov_igen.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    width: 30vw;
    height: 9vw;
    left: 30vw;
    top: 25vw;
}


/*Effekter*/

.hide {
    visibility: hidden;
}

.show {
    visibility: visible;
}

.blur {
    filter: blur(5px) brightness(80%);
}



/*Falling*/

@keyframes falling {

    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(56.25vw);
    }
}


.falling {
    animation-name: falling;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

    /* sikrer at vi altid er uden for skærmen, hvis animationen er delayet */
    top: -15vw;

}

.falling1 {
    animation-name: falling;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

    /* sikrer at vi altid er uden for skærmen, hvis animationen er delayet */
    top: -10vw;

}




/*Pulse*/

@keyframes pulse {
    0% {
        transform: scale(0.97);
    }

    100% {
        transform: scale(1.1);
    }
}

.pulse {
    animation-name: pulse;
    animation-duration: 1.7s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in;
}




/*Rotate*/

@keyframes rotate {

    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.rotate {
    animation-name: rotate;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}





/*Dissappear*/

@keyframes dissappear {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(0);
    }
}


.dissappear {
    animation-name: dissappear;
    animation-duration: .7s;
    animation-iteration-count: 1;
    animation-timing-function: cubic-bezier(.59, -0.56, .77, 1.34);
    animation-fill-mode: forwards;
}


/*Fadeout*/


.fade_out {
    animation-name: fadeout;
    animation-duration: .5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeout {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}



/*Paused*/

.paused {
    animation-play-state: paused;
}







.skrald_pos1 {
    left: 20vw;
}

.skrald_pos2 {
    left: 58vw;
}

.skrald_pos3 {
    left: 4vw;
}

.skrald_pos4 {
    left: 75vw;
}

.skrald_pos5 {
    left: 40vw;
}

.skrald_pos6 {
    left: 60vw;
}

.skrald_pos7 {
    left: 40vw;
}

.dyr_pos1 {
    left: 10vw;
}

.dyr_pos2 {
    left: 18vw;
}

.dyr_pos3 {
    left: 80vw;
}
